body{
    background-color: lightskyblue;
}

#main{
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-top: 150px;
}

img{
    border: 2px darkgrey solid;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-left: 110px;
    position: absolute;
    margin-top: -70px;
    background-color: darkgrey;
}

h1{
    font-family: verdana;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}

form input{
    margin: 5px;
    padding: 10px;
    border: 2px gold solid;
    border-radius: 17px;
    width: 200px;
    margin-left: 40px;
}

form button{
    margin: 5px;
    padding: 5px;
    background-color: dodgerblue;
    border: 1px black solid;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 100px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: red;
    text-align: center;
    margin-left: 0px;
    font-family: bell MT;
}
