body{
    background-color: #E8E8E8;
}

#header{
    margin-left: -10px;
    margin-top: -20px;
    width: 101.12%;
    height:150px;
    background-color: #49C2CB;

}

h1{
    padding-top: 59px;
    padding-left: 90px;
    font-family: Calibri;
    color: #FFFFFF;
    font-size: 25px;
}

img#Logo{
    width: 165px;
    height: 93px;
    opacity: 100%;
    margin-top: -94px;
    margin-left: 1350px;
}


#sidebar{
    width: 350px;
    height: 900px;
    margin-left: -10px;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    font-family: Calibri;
    font-size: 22px;
    color: #8E8E8E;
    margin: auto;;
}
img{
    padding-left: 25px;
    padding-top: 20px;
    opacity: 40%;
    align-content: center;
}

.kanan{
    text-align: center;
    width: 1235px;
    height: 900px;
    background-color: #F2F2F2;
    margin-top: -927px;
    margin-left: 340px;
    font-family: Calibri;
    color: #8E8E8E;
    font-size: 27px;
}

p#sub{
    font-size: 23px;
    color: #49C2CB;
    margin-top: -16px;
}

div#progress{
    width: 180px;
    height: 198px;
    background-color: #9A9A9A;
    border-radius: 28px;
    margin-left:145px;
}

img#notip{
    margin-top: 1px;
    margin-left: -21px;
}

p#notip{
    font-size: 18px;
    color: white;
    margin-top: 3px;
}

div#surat{
    width: 180px;
    height: 198px;
    background-color: #88D8B0;
    border-radius: 28px;
    margin-left:395px;
    margin-top: -200px;
}

img#surat{
    margin-top: 1px;
    margin-left: -21px;
}

p#surat{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

div#laporan{
    width: 180px;
    height: 198px;
    background-color: #FFCC5C;
    border-radius: 28px;
    margin-left:645px;
    margin-top: -200px;
}

img#laporan{
    margin-top: 1px;
    margin-left: -21px;
}

p#laporan{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

div#logout{
    width: 180px;
    height: 198px;
    background-color:#FF6F69;
    border-radius: 28px;
    margin-left:895px;
    margin-top: -200px;
}

img#logout{
    margin-top: 1px;
    margin-left: -21px;
}

p#logout{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

p#footer{
    font-family: Calibri;
    margin: auto;
    font-size: 15px;
}

table#tabell{
    margin-left: 19px;
    width: 1200px;
    height: auto;
    font-family: Calibri;
    font-size: 23px;
}

th, td{
  text-align: left;
  padding: 8px;
}

tr{
    background-color: white
}

th {
  background-color: #8E8E8E;
  color: white;
}

th#nomor{
    width: 250px;
}

th#namasurat{
    width: 430px;
}