body{
    background-color: #E8E8E8;
}

#header{
    margin-left: -10px;
    margin-top: -20px;
    width: 101.12%;
    height:150px;
    background-color: #49C2CB;

}

h1{
    padding-top: 59px;
    padding-left: 90px;
    font-family: Calibri;
    color: #FFFFFF;
    font-size: 25px;
}

img#Logo{
    width: 165px;
    height: 93px;
    opacity: 100%;
    margin-top: -94px;
    margin-left: 1350px;
}


#sidebar{
    width: 350px;
    height: 654px;
    margin-left: -10px;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    font-family: Calibri;
    font-size: 22px;
    color: #8E8E8E;
    margin: auto;;
}
#side{
    padding-left: 25px;
    padding-top: 20px;
    opacity: 40%;
    align-content: center;
}

.kanan{
    text-align: center;
    width: 1235px;
    height: 654px;
    background-color: #F2F2F2;
    margin-top: -654px;
    margin-left: 340px;
    font-family: Calibri;
    color: #8E8E8E;
    font-size: 27px;
}

div#background{
    width: 1000px;
    height: 570px;
    margin-left: 100px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #D4D4D4;
}

form input{
    margin: 7px;
    padding: 10px;
    border-width: 1px;
    border-color: #707070;
    border-radius: 11px;
    width: 900px;
    height: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 1px 1px #D4D4D4;
}

form input#desa{
    margin: 7px;
    padding: 10px;
    border-width: 1px;
    border-color: #707070;
    border-radius: 11px;
    width: 300px;
    height: 20px;
    margin-left: 137px;
    box-shadow: 1px 1px 1px 1px #D4D4D4;    
}

form input#prov{
    margin: 7px;
    margin-left: 150px;
    padding: 10px;
    border-width: 1px;
    border-color: #707070;
    border-radius: 11px;
    width: 300px;
    height: 20px;
    box-shadow: 1px 1px 1px 1px #D4D4D4;    
}

form input#kota{
    margin: 7px;
    margin-right: 360px;
    padding: 10px;
    border-width: 1px;
    border-color: #707070;
    border-radius: 11px;
    width: 300px;
    height: 20px;
    box-shadow: 1px 1px 1px 1px #D4D4D4;    
}

button{
    font-family: Calibri;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    background-color: #88D8B0;
    border-radius: 38px;
    width: 350px;
    height: 45.15px;
    color: white;
    margin-left: 19px;
    cursor: pointer;
}

p#indexx{
    font-size: 17px;
    font-style: italic;
    margin-left: -755px;
}

p#footer{
    font-family: Calibri;
    margin: auto;
    font-size: 15px;
}