body{
    background-color: #E8E8E8;
}

#header{
    margin-left: -10px;
    margin-top: -20px;
    width: 101.12%;
    height:150px;
    background-color: #49C2CB;

}

h1{
    padding-top: 59px;
    padding-left: 90px;
    font-family: Calibri;
    color: #FFFFFF;
    font-size: 25px;
}

img#Logo{
    width: 165px;
    height: 93px;
    opacity: 100%;
    margin-top: -94px;
    margin-left: 1350px;
}

#sidebar{
    width: 350px;
    height: 650px;
    margin-left: -10px;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
    font-family: Calibri;
    font-size: 22px;
    color: #8E8E8E;
    margin: auto;;
}
#side{
    padding-left: 25px;
    padding-top: 20px;
    opacity: 40%;
    align-content: center;
}

.kanan{
    text-align: center;
    width: 1235px;
    height: 650px;
    background-color: #F2F2F2;
    margin-top: -677px;
    margin-left: 340px;
    font-family: Calibri;
    color: #8E8E8E;
    font-size: 27px;
}

p#sub{
    font-size: 23px;
    color: #49C2CB;
    margin-top: -16px;
}

div#pindah{
    width: 198px;
    height: 183.57px;
    background-color: #23807E;
    border-radius: 28px;
    margin-left:40px;
}

img#pindah{
    margin-top: 20px;
}

p#pindah{
    font-size: 18px;
    color: white;
    margin-top: 3px;
}

div#pengha{
    width: 198px;
    height: 183.57px;
    background-color: #1ABF9B;
    border-radius: 28px;
    margin-left:275px;
    margin-top: -183px;
}

img#pengha{
    margin-top: 20px;
}

p#pengha{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

div#nikah{
    width: 198px;
    height: 183.57px;
    background-color: #41BBAC;
    border-radius: 28px;
    margin-left:510px;
    margin-top: -183px;
}

img#nikah{
    margin-top: 20px;
}

p#nikah{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

div#sktm{
    width: 198px;
    height: 183.57px;
    background-color:#8ACEBB;
    border-radius: 28px;
    margin-left:750px;
    margin-top: -183px;
}

img#sktm{
    margin-top: 20px;
}

p#sktm{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

div#death{
    width: 198px;
    height: 183.57px;
    background-color:#AAEED5;
    border-radius: 28px;
    margin-left:990px;
    margin-top: -183px;
}

img#death{
    margin-top: 20px;
}

p#death{
    font-size: 18px;
    color: white;
    margin-top: 4px;
}

p#footer{
    font-family: Calibri;
    margin: auto;
    font-size: 15px;
}